@import url("https://fonts.googleapis.com/css?family=Kulim+Park&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button:focus {
  outline: none;
}

.App {
  text-align: center;
  font-family: "Kulim Park", sans-serif;
  height: 100%;
}

.toggle {
  border: 0;
  width: 80px;
  height: 30px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
}
